.auth-container {
    /* background: rgb(201,244,255);
    background: radial-gradient(circle, rgba(201,244,255,1) 0%, rgba(0,204,255,1) 100%); */
    background: rgb(8,18,75);
    background: radial-gradient(circle, rgba(8,18,75,1) 0%, rgba(0,173,239,1) 100%);
}

p {
    font-size: 14px;
}

.loginform{
    height: auto;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 30px;
  }

h4.auth {
    color: #00adef;
    font-size: 36px;
}

.animation {
    animation: headShake;
    animation-duration: 1s;
}

#email, #name, #password, #password2 {
    border: none;
    border-radius: 0;
    border-bottom: 1.5px solid #000000;
}

#email:focus, #name:focus, #password:focus, #password2:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #42b984;
    transition: .2s all ease;
    }

#email:focus::placeholder, #name:focus::placeholder, #password:focus::placeholder, #password2:focus::placeholder {
    opacity: 0;
}