@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, p {
    font-family: 'Poppins', sans-serif;
}


/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
}


/* BUTTONS */
.waves-effect.waves-green.waves-ripple {
    background-color: #42b984;
    color: #ffffff;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    letter-spacing: 1.5px;
  }

.button-hove.waves-effect.waves-green.waves-ripple:hover {
    background-color: #42b984;
    color: #ffffff;
    width: 150px;    
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    letter-spacing: 1.5px;
  }

  .button-hover:hover {
    opacity: 0.5;
  }

  
/* FOOTER */
  footer {
    background: #999999;
    color: #fff;
    font-family: Poppins, sans-serif;
    text-align: center;
    height: 75px;
    width: 100%;
    position: sticky;
    bottom: 0;
    /* flex: 1 1 auto; */
}

  h4 .footer-style {
    color: white;
  }

  h4 .footer-style:hover {
    color: teal; 
    text-decoration: none;
  }

  h4 .footer-style:hover:visited {
    color: teal; 
  }