/* footer {
    background: #999999;
    color: #fff;
    text-align: center;
    padding: 40px;
    font-family: Poppins, sans-serif;
    position: sticky;
}

  h4 a {
    color: white;
  }

  h4 a:hover:visited {
    color: teal; 
  } */