
h1 {
  text-align: center;
  font-size: 50px;
}

table {
  margin: 0 auto;
  border-spacing: 0px 0px;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
}

Form {
  margin-bottom: 0;
  justify-content: center;
}
.cell {
  height: 100px;
  width: 100px;
  background-color: #1990ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.message {
  text-align: center;
  font-size: 17px;
}


.cell {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  padding: 30px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: -6px;
}

@media only screen and (max-width: 600px) {
  .cell {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    font: monospace;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: -6px;
  }
}

.game-container {
  margin-top: 50px;
  margin-bottom: 50px;
}


.grid {
  border: black;
  background: #42b984;
  width: fit-content;
  margin: auto;
}