/* body {
  font-family: "Lucida Sans Unicode";
} */

h1 {
  text-align: center;
  font-size: 50px;
}

table {
  margin: 0 auto;
  border-spacing: 0px 0px;
}

/* .button {
  background-color: #303030;
  color: #50c8ff;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
} */

/* .button:hover {
  background-color: #50c8ff;
  color: #303030;
  transition: background-color 0.5s, color 0.5s;
} */

/* /* .cell {
  height: 70px;
  width: 70px;
  background-color: #1990ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */
/* 
.circle {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 100px;
}

.circles {
  margin: -40px 0 25px 0;
  display: flex;
  justify-content: center;
}

.red-sm {
  background-color: red;
}

.yellow-sm {
  background-color: yellow;
}

.message {
  text-align: center;
  font-size: 17px;
}

.white {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 100px;
}

.red {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.yellow {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 0.5s;
} */ */

.cell {
    height: 70px;
    width: 70px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  padding: 30px;
  /* font: monospace; */
  cursor: pointer;
  margin-top: 0;
  margin-bottom: -6px;
}

@media only screen and (max-width: 600px) {
    .cell {
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        font: monospace;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: -6px;
      }
}

.game-container {
  margin-top: 50px;
  margin-bottom: 50px;
}


.grid {
  border: black;
  background: #42b984;
  width: fit-content;
  margin: auto;
}
