.landing-container {
    margin-top: 120px;
    padding: 0px 400px;
    vertical-align: middle;
}

h1 {
  color: #00adef;
}

.waves-effect.waves-brown.waves-ripple:hover {
  background-color: white;
}


/* MEDIA QUERIES */
@media(max-width: 768px) {
  .landing-container {
    margin-top: 150px;
    padding: 0px 60px;
    vertical-align: middle;
}
}

@media(max-width: 580px) {
  .landing-container {
    margin-top: 120px;
    padding: 0px 20px;
    vertical-align: middle;
}
}