/*About page
Contribution section of page
*/

ul.namelist {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#listitemdd {
    text-decoration: none;
    font-size: 20px;
}

#listitemdd:hover {
    text-decoration: none;
    color: rgb(0, 0, 31);
}

#listitemh:hover {
    text-decoration: none;
    color: rgb(0, 0, 31); 
}
