

/* Change text for the headings of the chore list (Task, Frequency, etc) */
h6.chorelistHeading {
  color: #00adef;
  font-size: 20px;
}

/* set width of buttons in the task list */
button.taskListButton {
  width: 40px;
}